@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORZAR PANTALLA COMPLETA REAL */
:root, html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar scroll horizontal */
  background-color: #020617; /* Color Slate-950 */
}

/* El contenedor raíz de React también debe ocupar todo */
#root {
  display: flex;
  flex-direction: column;
}
